<h2>Test</h2>
<table style="width:100%" border="1">
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th>Tinks</th>
    <th>Sinks</th>
    <th>Bounce Sinks</th>
    <th>Partner Sinks</th>
    <th>Self Sinks</th>
  </tr>
  {% for playerData in playersData %}</h2>
  <tr>
    <td>{{playerData.name}}</td>
    <td>{{playerData.singlePoints}}</td>
    <td>{{playerData.totalPoints}}</td>
    <td>{{playerData.tinks}}</td>
    <td>{{playerData.sinks}}</td>
    <td>{{playerData.bounceSinks}}</td>
    <td>{{playerData.partnerSinks}}</td>
    <td>{{playerData.selfSinks}}</td>
  </tr>
{% endfor %}
